BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true

ColumnLimit: 80

PointerAlignment: Left

AllowShortFunctionsOnASingleLine: Inline
